.buildings-layer {
  transform-style: preserve-3d;
}


/* Office */

.office-base {
  position: absolute;
  /* top: 200px; */
  width: 100px;
  height: 70px;
  padding: 15px;
  transform-style: preserve-3d;
  background-color: #E1E2E3;
  border-bottom-right-radius: 15px;
}
.office {
  position: absolute;
  width: 70px;
  height: 40px;
  background-color: teal;
  transform-style: preserve-3d;
  transition: transform .5s ease;
}

.office-side {
  position: absolute;
  height: 150px;
}
.side--front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  padding: 7px 7px 0 7px;
  background-color: #D8E2E7;
  transform: rotateX(-90deg) translateZ(-110px);
  transform-origin: bottom;
}
.side--right {
  width: 40px;
  background-color: #B7BFC2;
  transform: rotateX(90deg) rotateY(90deg);
  transform-origin: top left;
}

.office-window {
  width: 3px;
  height: 100%;
  background-color: #2B6088;
}

.office-roof {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #D8E2E7;
  background-color: #728080;
  transform: translateZ(150px);
}


/* @keyframes bloop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(100px);
  }
} */